# MySQL
MYSQL_DATABASE=test_storage
MYSQL_USER=test_user
MYSQL_PASSWORD=test
MYSQL_ROOT_PASSWORD=rootpass

# MinIO
MINIO_ROOT_USER=test
MINIO_ROOT_PASSWORD=test
MINIO_BUCKET=file-test
MINIO_REGION=us-east-1

# App
APP_PORT=8080

ADMIN_API_KEY=admin-test-123